<div class="sidebar">
  <div class="sidebar-header">
    <h3>Chats</h3>
    <button mat-icon-button color="primary" (click)="addNewChat()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="chat-history" *ngIf="chatHistories.chatHistoryDetails.length > 0; else noHistory">
    <mat-list>
      <mat-list-item *ngFor="let chat of chatHistories.chatHistoryDetails" (click)="getHistoryChatMessages(chat.id)">
        <span mat-line>{{ chat.title }}</span>
        <button mat-icon-button (click)="deleteHistoricalChat(chat.id); $event.stopPropagation();">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-template #noHistory>
    <p class="no-history">No chat history available.</p>
  </ng-template>
</div>
